header{
    margin-bottom: 20px;
    .logo{
        cursor: pointer;
        img{
            width:160px;
        }
    }
    .search{
        padding-top: 25px;
    }

    .navigation{
        padding-top: 33px;
    }

    .tools{
        padding-top: 33px;

        .pi{
            margin-right: 10px;
            
        }
    }
}