//MIXIN ARE FUNCTIONS WHICH ARE USED TO BE EVERYWHERE IN THE APPLICATION.
//YOU DON'T HAVE TO CREATE A BUNCH OF CODE--> CAN USE THIS BUNCH OF STYLES INSIDE WITH ONE LINE 

@mixin reset-list{
    margin: 0;
    padding: 0;
    list-style: none;
}